In [21]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup as bs

In [22]:
url = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-sector/commercial-services/'
r = requests.get(url)   
htmlContent = r.content    ## geting content fron given url
soup =  bs(htmlContent , 'html.parser')

In [23]:
url_1 = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-sector/'
r = requests.get(url_1)   
htmlContent = r.content    ## geting content fron given url
soup_1 =  bs(htmlContent , 'html.parser')

In [24]:
direct_df = pd.read_html(url_1)   ## this gives the structure of dataframe look ugly!!!
direct_df = pd.read_html(str(soup_1))  ## this gives a better dataframe
sectors = list(direct_df[0]['Sector'])
print(sectors)

['Commercial Services', 'Communications', 'Consumer Durables', 'Consumer Non-Durables', 'Consumer Services', 'Distribution Services', 'Electronic Technology', 'Energy Minerals', 'Finance', 'Health Services', 'Health Technology', 'Industrial Services', 'Miscellaneous', 'Non-Energy Minerals', 'Process Industries', 'Producer Manufacturing', 'Retail Trade', 'Technology Services', 'Transportation', 'Utilities']

In [25]:
def get_sector_data():
  frames = []
  sec = []
  for i in range(0,len(sectors)):
    sector_df = None
    temp = ' ' in sectors[i]
    if temp == True:
     s  = sectors[i]
     s  = s[:s.index(" ")]+'-'+s[s.index(" ")+1:]
     url = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-sector/'+s.lower()+'/'
     r = requests.get(url)   
     htmlContent = r.content    ## geting content fron given url
     soup =  bs(htmlContent , 'html.parser') 
     sector_df = pd.read_html(str(soup))  ## this gives a better dataframe
     sector_df = sector_df[0]
     for k in range(0,sector_df.shape[0]):
       sec.append(sectors[i])
     frames.append(sector_df)
    else:
     url = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-sector/'+sectors[i].lower()+'/'
     r = requests.get(url)   
     htmlContent = r.content    ## geting content fron given url
     soup =  bs(htmlContent , 'html.parser') 
     sector_df = pd.read_html(str(soup))  ## this gives a better dataframe
     sector_df = sector_df[0]
     for k in range(0,sector_df.shape[0]):
       sec.append(sectors[i])
     frames.append(sector_df)
  result = pd.concat(frames)
  result['Sector'] = sec
  return result

In [26]:
df_sector = get_sector_data()

In [27]:
df_sector

,Ticker,Price,Change % 1D,Change 1D,Technical Rating 1D,Volume 1D,Volume * Price 1D,Market cap,P/E(TTM),EPS(TTM),Employees,Sector
0,33RDROCK3RD ROCK MULTIMEDI,64.60 INR,0.00%,0.00 INR,Neutral,15.6K,1.008M,—,—,—,—,Commercial Services
1,44THDIMFOURTH DIMENSION SOL L,31.95 INR,1.91%,0.60 INR,Strong Buy,332.816K,10.633M,—,—,—,—,Commercial Services
2,AAARVIAARVI ENCON LTD,155.80 INR,−3.11%,−5.00 INR,Sell,16.074K,2.504M,2.377B INR,15.97,10.07 INR,5.541K,Commercial Services
3,AADLARCHIDPLY DECOR LIMTED,57.50 INR,−2.13%,−1.25 INR,Strong Sell,896,51.52K,—,—,—,—,Commercial Services
4,AADROITINFOADROIT INFOTECH LTD,22.30 INR,−1.33%,−0.30 INR,Buy,35.23K,785.629K,418.323M INR,9.25,2.44 INR,9,Commercial Services
...,...,...,...,...,...,...,...,...,...,...,...,...
37,SWANENERGYSWAN ENERGY LTD,272.75 INR,−1.57%,−4.35 INR,Sell,221.701K,60.469M,73.092B INR,—,−3.78 INR,447,Utilities
38,TATAPOWERTATA POWER CO LTD,203.10 INR,−0.25%,−0.50 INR,Sell,5.126M,1.041B,650.731B INR,21.26,9.58 INR,65.947K,Utilities
39,TTEXINFRATEXMACO INFRA & HO,54.00 INR,−2.88%,−1.60 INR,Strong Sell,20.287K,1.095M,7.193B INR,250.45,0.22 INR,34,Utilities
40,TORNTPOWERTORRENT POWER,457.00 INR,−0.09%,−0.40 INR,Sell,417.319K,190.715M,219.954B INR,25.45,17.97 INR,18.324K,Utilities
41,UUJAASUJAAS ENERGY LTD,2.20 INR,−4.35%,−0.10 INR,Strong Sell,436.269K,959.792K,454.658M INR,—,−1.98 INR,85,Utilities

In [28]:
url_2 = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-industry/'
r = requests.get(url_2)   
htmlContent = r.content    ## geting content fron given url
soup_2 =  bs(htmlContent , 'html.parser')
direct_df = pd.read_html(url_2)   ## this gives the structure of dataframe look ugly!!!
direct_df = pd.read_html(str(soup_2))  ## this gives a better dataframe
industries = list(direct_df[0]['Industry'])

In [29]:
def removeSpcl(arr):
  s = [' & ',': ','/',' ']
  for i in range(0,len(arr)):
    for j in range(0,len(s)):
      if s[j] in arr[i]:
        arr[i] = arr[i].replace(s[j],'-')
    arr[i] = arr[i].lower()
removeSpcl(industries)

In [30]:
def get_industry_data():
  frames = []
  industry = []
  for i in range(0,len(industries)):
    indus_df = None
    temp = ' ' in industries[i]
    if temp == True:
     s  = industries[i]
     s  = s[:s.index(" ")]+'-'+s[s.index(" ")+1:]
     url = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-industry/'+s.lower()+'/'
     r = requests.get(url)   
     htmlContent = r.content    ## geting content fron given url
     soup =  bs(htmlContent , 'html.parser') 
     indus_df = pd.read_html(str(soup))  ## this gives a better dataframe
     indus_df = indus_df[0]
     for k in range(0,indus_df.shape[0]):
       industry.append(industries[i])
     frames.append(indus_df)
    else:
     url = 'https://www.tradingview.com/markets/stocks-india/sectorandindustry-industry/'+industries[i].lower()+'/'
     r = requests.get(url)   
     htmlContent = r.content    ## geting content fron given url
     soup =  bs(htmlContent , 'html.parser') 
     indus_df = pd.read_html(str(soup))  ## this gives a better dataframe
     indus_df = indus_df[0]
     for k in range(0,indus_df.shape[0]):
       industry.append(industries[i])
     frames.append(indus_df)
  result = pd.concat(frames)
  result['Industry'] = industry
  return result

In [31]:
df_indus = get_industry_data()

In [32]:
df_indus

,Ticker,Price,Change % 1D,Change 1D,Technical Rating 1D,Volume 1D,Volume * Price 1D,Market cap,P/E(TTM),EPS(TTM),Employees,Industry
0,33RDROCK3RD ROCK MULTIMEDI,64.60 INR,0.00%,0.00 INR,Neutral,15.6K,1.008M,—,—,—,—,advertising-marketing-services
1,NNOIDATOLLNOIDA TOLL BRIDGE,6.90 INR,0.73%,0.05 INR,Sell,81.335K,561.212K,1.294B INR,—,−2.06 INR,3,advertising-marketing-services
2,PPRESSMNPRESSMAN ADVERTISI,59.00 INR,−2.48%,−1.50 INR,Neutral,59.999K,3.54M,1.439B INR,34.48,1.75 INR,18,advertising-marketing-services
3,SSPCENETSPACENET ENTERPRIS,22.40 INR,−2.82%,−0.65 INR,Sell,366.178K,8.202M,—,—,—,—,advertising-marketing-services
4,VVERTOZVERTOZ ADVERTISING LTD,200.75 INR,−3.62%,−7.55 INR,Sell,20.493K,4.114M,2.493B INR,28.43,7.33 INR,113,advertising-marketing-services
...,...,...,...,...,...,...,...,...,...,...,...,...
13,SSATIASATIA INDUSTRIES LTD,128.95 INR,−0.39%,−0.50 INR,Buy,163.464K,21.079M,12.95B INR,7.38,17.55 INR,2.012K,pulp-paper
14,SSESHAPAPERSESHASAYEE PAPER&B,259.55 INR,−0.02%,−0.05 INR,Sell,26.854K,6.97M,16.328B INR,6.82,38.07 INR,2.555K,pulp-paper
15,SSHREYANINDSHREYANS INDUSTRIE,155.70 INR,−0.29%,−0.45 INR,Sell,15.032K,2.34M,2.156B INR,4.45,35.05 INR,1.299K,pulp-paper
16,SSTARPAPERSTAR PAPER MILLS,169.55 INR,−2.50%,−4.35 INR,Strong Sell,78.993K,13.393M,2.715B INR,4.05,42.94 INR,371,pulp-paper
17,TTNPLTAMIL NADU NEWSPRI,230.35 INR,−5.40%,−13.15 INR,Sell,776.307K,178.822M,16.874B INR,5.48,44.43 INR,2.371K,pulp-paper

In [51]:
arr_indus  = list(df_indus['Ticker'])

In [34]:
df_indus.to_csv("Industries_Data.csv")

In [35]:
df_sector.to_csv("sector_data.csv")

In [36]:
df1 = pd.read_excel("/content/drive/MyDrive/MCAP31122022_0.xlsx")

In [37]:
arr1 = list(df1['Symbol'])
len(arr1)

2114

In [38]:
df2  = pd.read_csv("/content/drive/MyDrive/BSE.csv")

In [39]:
arr2 = list(df2['Issuer Name'])
len(arr2)

9250

In [40]:
final_list = (arr1 + arr2)
len(final_list)

11364

In [49]:
def getMatch(arr1 , arr2 ):  #arr1>arr2
  ll =[]
  for i in range(0,len(arr2)):
    for j in range(0,len(arr1)):
      if arr1[j] in arr2[i] == True:
        ll.append(arr1[j])
        break
  return ll

In [50]:
ll = getMatch(final_list , arr_indus )

TypeError: ignored