In [3]:
from io import BytesIO
import requests
import time
import pandas as pd
import utils.misc as misc
from config import *
import yahoo_fin.stock_info as si
from yahooquery import Ticker
import quandl
import os

ModuleNotFoundError: No module named 'utils'

In [2]:
BASE_URL = r"https://www.alphavantage.co/query?"
av_api = 'CQLP7J9VZG14Y7O4'

In [5]:
def av_api(func, api_key, symbol):
    assert symbol is not None
    symbol = symbol.strip().upper()

    url = f"{BASE_URL}function={func}&symbol={symbol}&apikey={api_key}"

    response = requests.get(url)
    if func == 'EARNINGS':
        return pd.DataFrame(response.json()['quarterlyEarnings'])
    elif func == 'BALANCE_SHEET':
        return pd.DataFrame(response.json()['quarterlyReports'])
    elif func == 'INCOME_STATEMENT':
        return pd.DataFrame(response.json()['quarterlyReports'])

In [ ]:
#For reported Earnings & Analyst Estimated EPS
av_api('EARNINGS',av_api, "META")

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2022-12-31,2023-02-01,1.76,2.22,-0.46,-20.7207
1,2022-09-30,2022-10-26,1.64,1.89,-0.25,-13.2275
2,2022-06-30,2022-07-27,2.46,2.59,-0.13,-5.0193
3,2022-03-31,2022-04-27,2.72,2.56,0.16,6.25
4,2021-12-31,2022-02-02,3.67,3.84,-0.17,-4.4271
5,2021-09-30,2021-10-25,3.22,3.19,0.03,0.9404
6,2021-06-30,2021-07-28,3.61,3.03,0.58,19.1419
7,2021-03-31,2021-04-28,3.3,2.37,0.93,39.2405
8,2020-12-31,2021-01-27,3.88,3.22,0.66,20.4969
9,2020-09-30,2020-10-29,2.71,1.91,0.8,41.8848
10,2020-06-30,2020-07-30,1.8,1.39,0.41,29.4964
11,2020-03-31,2020-04-29,1.71,1.76,-0.05,-2.8409
12,2019-12-31,2020-01-29,2.56,2.53,0.03,1.1858
13,2019-09-30,2019-10-30,2.12,1.91,0.21,10.9948
14,2019-06-30,2019-07-24,0.91,1.88,-0.97,-51.5957
15,2019-03-31,2019-04-24,0.85,1.63,-0.78,-47.8528
16,2018-12-31,2019-01-30,2.38,2.19,0.19,8.6758
17,2018-09-30,2018-10-30,1.76,1.47,0.29,19.7279
18,2018-06-30,2018-07-25,1.74,1.72,0.02,1.1628
19,2018-03-31,2018-04-25,1.69,1.35,0.34,25.1852
20,2017-12-31,2018-01-31,1.44,1.95,-0.51,-26.1538
21,2017-09-30,2017-11-01,1.59,1.28,0.31,24.2188
22,2017-06-30,2017-07-26,1.32,1.13,0.19,16.8142
23,2017-03-31,2017-05-03,1.04,1.12,-0.08,-7.1429
24,2016-12-31,2017-02-01,1.41,1.31,0.1,7.6336
25,2016-09-30,2016-11-02,1.09,0.97,0.12,12.3711
26,2016-06-30,2016-07-27,0.97,0.82,0.15,18.2927
27,2016-03-31,2016-04-27,0.77,0.62,0.15,24.1935
28,2015-12-31,2016-01-27,0.79,0.68,0.11,16.1765
29,2015-09-30,2015-11-04,0.57,0.52,0.05,9.6154
30,2015-06-30,2015-07-29,0.5,0.47,0.03,6.383
31,2015-03-31,2015-04-22,0.42,0.4,0.02,5
32,2014-12-31,2015-01-28,0.54,0.49,0.05,10.2041
33,2014-09-30,2014-10-28,0.43,0.4,0.03,7.5
34,2014-06-30,2014-07-23,0.42,0.32,0.1,31.25
35,2014-03-31,2014-04-23,0.34,0.24,0.1,41.6667
36,2013-12-31,2014-01-29,0.31,0.27,0.04,14.8148
37,2013-09-30,2013-10-30,0.25,0.19,0.06,31.5789
38,2013-06-30,2013-07-24,0.19,0.14,0.05,35.7143
39,2013-03-31,2013-05-01,0.12,0.13,-0.01,-7.6923
40,2012-12-31,2013-01-30,0.17,0.15,0.02,13.3333
41,2012-09-30,2012-10-23,0.12,0.11,0.01,9.0909
42,2012-06-30,2012-07-26,0.12,0.12,0,0
43,2012-03-31,2012-05-30,0.0645,None,None,None

In [10]:
#For totalRevenue
df2 = av_api('INCOME_STATEMENT',av_api, "META")

ConnectionError: HTTPSConnectionPool(host='www.alphavantage.co', port=443): Max retries exceeded with url: /query?function=INCOME_STATEMENT&symbol=META&apikey=%3Cfunction%20av_api%20at%200x000002547DD48310%3E (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025406784F40>: Failed to establish a new connection: [WinError 10051] A socket operation was attempted to an unreachable network'))

In [7]:
#For commonStockSharesOutstanding
df = av_api('BALANCE_SHEET',av_api, "META")

In [9]:
df2

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2022-12-31,USD,23584000000,31920000000,8336000000,8336000000,6399000000,7659000000,9771000000,17159000000,...,2330000000,142000000,6149000000,1496000000,164000000,4653000000,6177000000,6399000000,6455000000,4653000000
1,2022-09-30,USD,21994000000,27710000000,5716000000,5716000000,5664000000,7164000000,9170000000,17237000000,...,2130000000,137000000,5576000000,1181000000,4000000,4395000000,2752000000,5664000000,5717000000,4395000000
2,2022-06-30,USD,23626000000,28818000000,5192000000,5192000000,8358000000,6582000000,8690000000,15420000000,...,1930000000,148000000,8186000000,1499000000,4000000,6687000000,5272000000,8358000000,8338000000,6687000000
3,2022-03-31,USD,21899000000,27904000000,6005000000,6005000000,8524000000,5672000000,7707000000,13517000000,...,2120000000,138000000,8908000000,1443000000,4000000,7465000000,6162000000,8524000000,9050000000,7465000000
4,2021-12-31,USD,27179000000,33527000000,6348000000,6348000000,12585000000,7692000000,7046000000,14873000000,...,1970000000,135000000,12703000000,2418000000,4000000,10285000000,9799000000,12585000000,12842000000,10285000000
5,2021-09-30,USD,23235000000,29006000000,5771000000,5771000000,10423000000,6500000000,6316000000,13028000000,...,1870000000,212000000,10565000000,1371000000,4000000,9194000000,8702000000,10423000000,10781000000,9194000000
6,2021-06-30,USD,23674000000,29073000000,5399000000,5399000000,12367000000,5215000000,6096000000,11516000000,...,1860000000,205000000,12513000000,2119000000,4000000,10394000000,10525000000,12367000000,12722000000,10394000000
7,2021-03-31,USD,21036000000,26167000000,5131000000,5131000000,11378000000,4465000000,5197000000,9861000000,...,1850000000,199000000,11503000000,2006000000,4000000,9497000000,8724000000,11378000000,11706000000,9497000000
8,2020-12-31,USD,22730000000,27940000000,5210000000,5210000000,12775000000,4880000000,5207000000,10282000000,...,1740000000,195000000,13055000000,1836000000,3000000,11219000000,11838000000,12775000000,13253000000,11219000000
9,2020-09-30,USD,17272000000,21466000000,4194000000,4194000000,8040000000,4473000000,4763000000,9424000000,...,1580000000,188000000,8133000000,287000000,4000000,7846000000,8296000000,8040000000,8325000000,7846000000
10,2020-06-30,USD,14854000000,18683000000,3829000000,3829000000,5963000000,4433000000,4462000000,9073000000,...,1580000000,178000000,6131000000,953000000,4000000,5178000000,5580000000,5963000000,6313000000,5178000000
11,2020-03-31,USD,14275000000,17734000000,3459000000,3459000000,5893000000,4370000000,4015000000,8753000000,...,1490000000,171000000,5861000000,959000000,3000000,4902000000,4847000000,5893000000,6035000000,4902000000
12,2019-12-31,USD,17475000000,20966000000,3491000000,3491000000,8858000000,4855000000,3878000000,8893000000,...,1360000000,160000000,9169000000,1820000000,11000000,7349000000,7709000000,8858000000,9340000000,7349000000
13,2019-09-30,USD,14493000000,17648000000,3155000000,3155000000,7185000000,3764000000,3548000000,7508000000,...,1270000000,196000000,7329000000,1238000000,4000000,6091000000,5725000000,7185000000,7529000000,6091000000
14,2019-06-30,USD,13576000000,16883000000,3307000000,3307000000,4626000000,5638000000,3315000000,9156000000,...,1340000000,203000000,4832000000,2216000000,3000000,2616000000,2914000000,4626000000,5038000000,2616000000
15,2019-03-31,USD,12261000000,15077000000,2816000000,2816000000,3317000000,6084000000,2860000000,9100000000,...,1200000000,156000000,3482000000,1053000000,2000000,2429000000,2408000000,3317000000,3640000000,2429000000
16,2018-12-31,USD,13896000000,16692000000,2796000000,2796000000,7820000000,3443000000,2855000000,6532000000,...,None,157000000,7971000000,1089000000,None,6882000000,6899000000,7820000000,7977000000,6882000000
17,2018-09-30,USD,11309000000,13727000000,2418000000,2418000000,5781000000,2871000000,2657000000,5684000000,...,None,156000000,5912000000,775000000,None,5137000000,5078000000,5781000000,5937000000,5137000000
18,2018-06-30,USD,11017000000,13231000000,2214000000,2214000000,5863000000,2631000000,2523000000,5312000000,...,None,158000000,5868000000,762000000,None,5106000000,4713000000,5863000000,6021000000,5106000000
19,2018-03-31,USD,10039000000,11966000000,1927000000,1927000000,5449000000,2352000000,2238000000,4759000000,...,None,169000000,5610000000,622000000,None,4988000000,4921000000,5449000000,5618000000,4988000000

In [119]:
#useful to check if reports were release PMO or AMH
tkr = Ticker('meta')

df = tkr.sec_filings

df[df['type'] == '10-Q']

                  date            epochDate  type             title  \
symbol row
meta   5    2022-10-27  2022-10-27 16:35:29  10-Q  Quarterly Report
       12   2022-07-28  2022-07-28 16:41:47  10-Q  Quarterly Report
       17   2022-04-28  2022-04-28 16:45:45  10-Q  Quarterly Report
       26   2021-10-26  2021-10-26 16:34:10  10-Q  Quarterly Report
       29   2021-07-29  2021-07-29 16:38:01  10-Q  Quarterly Report
       32   2021-04-29  2021-04-29 16:57:23  10-Q  Quarterly Report
       36   2020-10-30  2020-10-30 16:39:58  10-Q  Quarterly Report
       38   2020-07-31  2020-08-01 02:49:14  10-Q  Quarterly Report
       41   2020-04-30  2020-04-30 16:00:22  10-Q  Quarterly Report
       48   2019-10-31  2019-10-31 15:38:45  10-Q  Quarterly Report
       50   2019-07-25  2019-07-25 15:35:09  10-Q  Quarterly Report

                                                     edgarUrl  maxAge
symbol row
meta   5    https://yahoo.brand.edgar-online.com/DisplayFi...       1
       12   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       17   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       26   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       29   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       32   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       36   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       38   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       41   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       48   https://yahoo.brand.edgar-online.com/DisplayFi...       1
       50   https://yahoo.brand.edgar-online.com/DisplayFi...       1

NASDAQ DATALINK - FOR SHORT INTEREST

In [124]:
ndl_api = 'dys7Lqv_HziWD1ZFk4ry'

In [126]:
quandl.ApiConfig.api_key = ndl_api

In [139]:
os.chdir('/Users/yash/Desktop/Trading/intern/Basil/finra_short_interest')

In [141]:
df2 = pd.read_csv('equityshortinterest_2023_02_26_05_44_02.csv')

In [142]:
df2.head()

,Settlement Date,Issue Name,Symbol,Market,Current Short,Previous Short,Chg,% Change from Previous,Avg Daily Vol,Days to Cover,Revision Flag
0,2022-04-14,10X Capital Venture Acquisitio,VCXBU,NYSE,660,0,660,100.00,10175,1.00,NaN
1,2022-07-29,10X Capital Venture Acquisitio,VCXB,NYSE,9578,9390,188,2.00,2974,3.22,NaN
2,2022-05-31,10X Capital Venture Acquisitio,VCXBWS,NYSE,80934,3283,77651,2365.25,33603,2.41,NaN
3,2022-11-30,10X Capital Venture Acquisitio,VCXBWS,NYSE,150,150,0,0.00,0,999.99,NaN
4,2022-12-30,10X Capital Venture Acquisitio,VCXB,NYSE,8816,3948,4868,123.30,337962,1.00,NaN