In [39]:
from io import BytesIO
import requests
import time
import pandas as pd
import utils.misc as misc
from config import *
import yahoo_fin.stock_info as si
from yahooquery import Ticker
import quandl
import os
from datetime import datetime, timedelta

In [10]:
BASE_URL = r"https://www.alphavantage.co/query?"
av_api = 'CQLP7J9VZG14Y7O4'

In [11]:
def av_api(func, api_key, symbol):
    assert symbol is not None
    symbol = symbol.strip().upper()

    url = f"{BASE_URL}function={func}&symbol={symbol}&apikey={api_key}"

    response = requests.get(url)
    if func == 'EARNINGS':
        return pd.DataFrame(response.json()['quarterlyEarnings'])
    elif func == 'BALANCE_SHEET':
        return pd.DataFrame(response.json()['quarterlyReports'])
    elif func == 'INCOME_STATEMENT':
        return pd.DataFrame(response.json()['quarterlyReports'])

In [33]:
def get_av_data(symbol):
    #For reported Earnings & Analyst Estimated EPS, totalRevenue, commonStockSharesOutstanding
    df1 = av_api('EARNINGS',av_api, symbol)
    df2 = av_api('INCOME_STATEMENT',av_api, symbol)[['fiscalDateEnding','totalRevenue']]
    df1 = df1.merge(df2, on='fiscalDateEnding', how='left')
    df3 = av_api('BALANCE_SHEET',av_api, symbol)[['fiscalDateEnding','commonStockSharesOutstanding']]
    df1 = df1.merge(df3, on='fiscalDateEnding', how='left')

    return df1

In [78]:
def get_ex_dates(symbol):
    symbol = 'META'
    tkr = Ticker(symbol)
    df = tkr.sec_filings
    df = df[(df['type'] == '10-Q') | ((df['type'] == '10-K'))]
    df.reset_index(inplace=True)
    df = df[['date','title']]
    df.rename(columns={'date': 'Ex-Date'}, inplace=True)
    return df

In [79]:
symbol = 'META'
df1 = get_av_data(symbol)
df2 = get_ex_dates(symbol)

In [81]:
df1

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage,totalRevenue,commonStockSharesOutstanding
0,2022-12-31,2023-02-01,1.76,2.22,-0.46,-20.7207,31920000000,2639000000
1,2022-09-30,2022-10-26,1.64,1.89,-0.25,-13.2275,27710000000,2682000000
2,2022-06-30,2022-07-27,2.46,2.59,-0.13,-5.0193,28818000000,2704000000
3,2022-03-31,2022-04-27,2.72,2.56,0.16,6.25,27904000000,2725000000
4,2021-12-31,2022-02-02,3.67,3.84,-0.17,-4.4271,33527000000,2764000000
5,2021-09-30,2021-10-25,3.22,3.19,0.03,0.9404,29006000000,2814000000
6,2021-06-30,2021-07-28,3.61,3.03,0.58,19.1419,29073000000,2834000000
7,2021-03-31,2021-04-28,3.3,2.37,0.93,39.2405,26167000000,2847000000
8,2020-12-31,2021-01-27,3.88,3.22,0.66,20.4969,27940000000,2854000000
9,2020-09-30,2020-10-29,2.71,1.91,0.8,41.8848,21466000000,2850000000
10,2020-06-30,2020-07-30,1.8,1.39,0.41,29.4964,18683000000,2850000000
11,2020-03-31,2020-04-29,1.71,1.76,-0.05,-2.8409,17734000000,2851000000
12,2019-12-31,2020-01-29,2.56,2.53,0.03,1.1858,20966000000,2851000000
13,2019-09-30,2019-10-30,2.12,1.91,0.21,10.9948,17648000000,2854000000
14,2019-06-30,2019-07-24,0.91,1.88,-0.97,-51.5957,16883000000,2855000000
15,2019-03-31,2019-04-24,0.85,1.63,-0.78,-47.8528,15077000000,2856000000
16,2018-12-31,2019-01-30,2.38,2.19,0.19,8.6758,16692000000,2875000000
17,2018-09-30,2018-10-30,1.76,1.47,0.29,19.7279,13727000000,2885000000
18,2018-06-30,2018-07-25,1.74,1.72,0.02,1.1628,13231000000,2895000000
19,2018-03-31,2018-04-25,1.69,1.35,0.34,25.1852,11966000000,2906000000
20,2017-12-31,2018-01-31,1.44,1.95,-0.51,-26.1538,NaN,NaN
21,2017-09-30,2017-11-01,1.59,1.28,0.31,24.2188,NaN,NaN
22,2017-06-30,2017-07-26,1.32,1.13,0.19,16.8142,NaN,NaN
23,2017-03-31,2017-05-03,1.04,1.12,-0.08,-7.1429,NaN,NaN
24,2016-12-31,2017-02-01,1.41,1.31,0.1,7.6336,NaN,NaN
25,2016-09-30,2016-11-02,1.09,0.97,0.12,12.3711,NaN,NaN
26,2016-06-30,2016-07-27,0.97,0.82,0.15,18.2927,NaN,NaN
27,2016-03-31,2016-04-27,0.77,0.62,0.15,24.1935,NaN,NaN
28,2015-12-31,2016-01-27,0.79,0.68,0.11,16.1765,NaN,NaN
29,2015-09-30,2015-11-04,0.57,0.52,0.05,9.6154,NaN,NaN
30,2015-06-30,2015-07-29,0.5,0.47,0.03,6.383,NaN,NaN
31,2015-03-31,2015-04-22,0.42,0.4,0.02,5,NaN,NaN
32,2014-12-31,2015-01-28,0.54,0.49,0.05,10.2041,NaN,NaN
33,2014-09-30,2014-10-28,0.43,0.4,0.03,7.5,NaN,NaN
34,2014-06-30,2014-07-23,0.42,0.32,0.1,31.25,NaN,NaN
35,2014-03-31,2014-04-23,0.34,0.24,0.1,41.6667,NaN,NaN
36,2013-12-31,2014-01-29,0.31,0.27,0.04,14.8148,NaN,NaN
37,2013-09-30,2013-10-30,0.25,0.19,0.06,31.5789,NaN,NaN
38,2013-06-30,2013-07-24,0.19,0.14,0.05,35.7143,NaN,NaN
39,2013-03-31,2013-05-01,0.12,0.13,-0.01,-7.6923,NaN,NaN
40,2012-12-31,2013-01-30,0.17,0.15,0.02,13.3333,NaN,NaN
41,2012-09-30,2012-10-23,0.12,0.11,0.01,9.0909,NaN,NaN
42,2012-06-30,2012-07-26,0.12,0.12,0,0,NaN,NaN
43,2012-03-31,2012-05-30,0.0645,None,None,None,NaN,NaN

##IGNORE FOR NOW

    NASDAQ DATALINK - FOR SHORT INTEREST

In [28]:
ndl_api = 'dys7Lqv_HziWD1ZFk4ry'

In [29]:
quandl.ApiConfig.api_key = ndl_api

In [30]:
os.chdir('/Users/yash/Desktop/Trading/intern/Basil/finra_short_interest')

In [31]:
df2 = pd.read_csv('equityshortinterest_2023_02_26_05_44_02.csv')

In [32]:
df2.head()

,Settlement Date,Issue Name,Symbol,Market,Current Short,Previous Short,Chg,% Change from Previous,Avg Daily Vol,Days to Cover,Revision Flag
0,2022-04-14,10X Capital Venture Acquisitio,VCXBU,NYSE,660,0,660,100.00,10175,1.00,NaN
1,2022-07-29,10X Capital Venture Acquisitio,VCXB,NYSE,9578,9390,188,2.00,2974,3.22,NaN
2,2022-05-31,10X Capital Venture Acquisitio,VCXBWS,NYSE,80934,3283,77651,2365.25,33603,2.41,NaN
3,2022-11-30,10X Capital Venture Acquisitio,VCXBWS,NYSE,150,150,0,0.00,0,999.99,NaN
4,2022-12-30,10X Capital Venture Acquisitio,VCXB,NYSE,8816,3948,4868,123.30,337962,1.00,NaN